@{
    ViewBag.Title = "Home Page";
}

</div>
    <div class="container" style="display:flex">
        <div style="float:left">
            <img style="max-height:500px; width:auto" src="~/Images/web-pics/color/yellow-food.jpg" />
            <img style="max-height:500px; width:auto" src="~/Images/web-pics/color/light-pink.jpg" />
            <img style="max-height:500px; width:410px" src="~/Images/web-pics/color/teal-lemons.jpg" />
            <div class="jumbotron">
                <h2 style="font-weight:bolder">how it works</h2>
                <p>
                    To get started, first create an account. Then, add the ingredients that you have on hand in your kitchen to the eat smrt Fridge, 
                    and you're good to go. Click on the 'Recipes' tab, and eat smrt will provide you with recipes that you can cook right away with what 
                    you have, and recipes that require extra ingredients, which you can then add to your eat smrt Grocery List to help you stay organized 
                    and save time at the grocery store. In the Grocery List tab, you can see all the ingredients that you've added, as well as the needed 
                    ingredients for each recipe. From there, you can email yourself a copy of your eat smrt Grocery List, and you're ready to get cooking!
                </p>
            </div>
        </div>
        <div class="jumbotron" style="padding-top:30px; float:right">
            <h1 style="font-weight:bolder;background-color:#fff;text-align:center;box-shadow:#333 1px 1px">eat smrt</h1>
            <h3 style="font-weight:bold">Control What You Eat</h3>
            <p>
                With eat smrt, you are equipped with the tools that provide total control over the foods you eat. Our adaptive
                algorithm provides access to recipes that you can make instantly, and evolve based on your shopping habits and what's in your fridge. Whether you're looking
                for a light and healthy meal before going to the gym, or in dire need of a late-night snack after a night out, eat smrt will
                always provide you with convenient options that satisfy your needs.
            </p>
            <img style="max-height:500px; float:left; padding:20px;" src="~/Images/web-pics/open-fridge.jpg" />
            <h2 style="font-weight:bolder">
                An app for everyone
            </h2>
            <p>
                eat smrt is for everyone, from college kids eating corn out of the can, and spending all their money on take out, to bachelors with only
                condiments in the fridge. Use eat smrt to pull out all the stops at your next event, and wow the in-laws during the holidays.
            </p>
            <p>
                Make an account to get started!
            </p>
        </div>
    </div>
<div class="container" style="display:flex">
    <div class="jumbotron" style="float:left">
         <h2 style="font-weight:bolder; text-align:center; padding-top:30px">Designed With You In Mind</h2>
        <br />
        <p>
            We know that cooking may seem intimidating at first, but it is so rewarding being able to treat yourself and loved ones to something that
            you made all by yourself. So often people rely on restaurants and delivery services for dinner, only to recieve underwhelming and overpriced
            food that you end up regretting.
        </p> <br />
        <img style="max-height:500px" src="~/Images/web-pics/food/sp-fries.jpg" />
        <br /><br />
        <p>
            With eat smrt on your side, you can finally host that dinner party that you've been talking about. You can finally surprise your partner
            with a delicious home cooked meal when they get home from work. You can show your mom that you've finally grown up, and that she no longer has
            to worry about you living off of frozen dinners like you did in college.
        </p>
    </div>
    <div style="float:right;">
        <img style="max-height:500px; width:425px" src="~/Images/web-pics/food/avocado-toast.jpg" />
        <img style="max-height:500px; width:425px" src="~/Images/web-pics/food/steak.jpg" />
    </div>
</div>
<hr />
<footer>
    <p style="text-align:center">&copy; @DateTime.Now.Year - eat smrt | All Rights Reserved</p>
</footer>
